
{% extends 'base.html' %}


{% load static %}



{% block content %}



        <script src="main.js"></script>

   


       

  
        
        <div class="container profile-container">
            <div class="row">
              
              <!--#################### Left Side Starts Here ####################--> 
               
                <div id="menu-jk" class="col-lg-4">
                    <div class="profile-cover">
                        <div class="top-links no-margin">
                              <a class="share dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <i class="fas fa-share-alt"></i>
                              </a>
                              <div class="dropdown-menu shar-icons" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item fb" href="#"><i class="fas fa-facebook-square"></i> Facebook</a>
                                <a class="dropdown-item tw" href="#"><i class="fas fa-twitter-square"></i> Twitter </a>
                                <a class="dropdown-item pin" href="#"><i class="fas fa-pinterest-square"></i> Pintrest</a>
                                <a class="dropdown-item ins" href="#"><i class="fas fa-instagram"></i> Instagram</a>
                              </div>

                            <a class="cv" href=""><i class="fas fa-cloud-download-alt"></i></a>
                        </div>
                        <div class="image-details">
                            <img src="{% static 'assets/media/img/user.png' %}" alt="">
                            <h5>Saurabh Kumar</h5>
                            <p>I'm a <span class ="auto-type"></span></p>
                        </div>
                        <div class="counts">
                            <div class="count-box">
                                <div class="boxs">
                                  <i class="idicon" data-feather="calendar"></i> <br>
                                   <b>8</b>  
                                   <p>Years</p> 
                                </div>
                                <div class="boxs">
                                   <i class="idicon" data-feather="dollar-sign"></i> <br>
                                     <b>35</b>
                                    <p> Per - Hour</p> 
                                </div>
                                <div class="boxs">
                                   <i class="idicon" data-feather="box"></i> <br>
                                    <b> 76</b> 
                                    <p> Projects</p> 
                                </div>
                            </div>
                        </div>
                        <div class="bottom-links no-margin">
                            <ul class="card-ul">
                                <li><a href="#"><i class="fas fa-info"></i></a></li>
                                <li><a href="#projects"><i class="fas fa-images"></i></a></li>
                                <li><a href="#contactus"><i class="fas fa-user-plus"></i></a></li>
                                <li><a href="#resume"><i class="fas fa-list-ul"></i></a></li>
                                <li><a href="#hobbies"><i class="fas fa-headphones"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
               
                <!--#################### Right Side Starts Here ####################-->
                
                <div  class="col-lg-8">
                    <div class="profile-detail">
                     
                      <!--#################### About Me Starts Here ####################-->
                    
                       <div  id="about" class="row right-title">
                           <div class="col-sm-1 col-2 icob">
                               <i class="fas fa-user"></i>
                           </div>
                           <div class="col-sm-11 col-10 titb">
                               <h2 class="abh2" >About Me</h2>
                           </div>
                           <hr class="unline">
                        </div>
                    <div class="personal-details">
                        <div class="about row">
                            <div class="col-md-4 bimg">
                                <img src="{% static 'assets/media/img/user.png' %}" alt="">
                            </div>
                            <div class="col-md-8 about-detail">
                              
                               
                                <div class="detal-jumbo">
                                   
                                  <h3>Hellow I'm Web Designer / Developer</h3>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                              </div>
                              <div class="links">
                                  <div class="row">
                                      <div class=" col-md-12">
                                          <ul class="btn-link">
                                              <li class="hire">
                                                  <button class="job"><a href=""><i class="fas fa-paper-plane"></i> Hire Me</a></button>
                                              </li>
                                              <li class="download">
                                                  <button class="resume"><a href=""><i class="fas fa-cloud-download-alt"></i> Download Resume</a></button>
                                              </li>
                                          </ul>
                                      </div>
                                      
                                  </div>
                              </div>
                              <div class="personali">
                                  <ul class="personalul">
                                      <li><i class="fas"  data-feather="user"></i> Saurabh Kumar</li>
                                      <li><i class="fas" data-feather="map-pin"></i> Bihar Sharif, Bihar</li>
                                      <li><i class="fas" data-feather="mail"></i> saurabhkumar.conn@gmail.com</li>
                                      <li><i class="fas" data-feather="calendar"></i> 23 Years Old</li>
                                      <li><i class="fas" data-feather="phone-call"></i> +91 7764996332 </li>
                                      <li><i class="fas" data-feather="file-text"></i> India</li>
                                  </ul>
                              </div>
                              
                               
                            </div>
                        </div>
                    </div> 
                        
                        <!--#################### Skills Starts Here ####################-->
                         
                        <div id="skills" class="row right-title">
                            <div class="col-sm-1 col-2 icob">
                                <i class="fas fa-solid fa-laptop"></i>
                            </div>
                            <div class="col-sm-11 col-10 titb">
                                <h2 class="abh2">Skills</h2>
                            </div>
                            <hr class="unline">
                        </div>

                          <div class="progressbar-row">
                           
                                <div class="progress-length">
                                    <h3 class="progress-title"> JAVA- 90%</h3>
                                    <div class="progress red">
                                        <div class="progress-bar  progress-bar-animated progress-bar-striped" style="width: 90%;  background-color:#F51008;">
                                        </div>
                                    </div>
                        
                                    <h3 class="progress-title">Pyton - 50%</h3>
                                    <div class="progress green">
                                        <div class="progress-bar progress-bar-animated progress-bar-striped" style="width: 50%;  background-color:#13D73E;">
                                        </div>
                                    </div>
                        
                                    <h3 class="progress-title">Django - 65%</h3>
                                    <div class="progress blue">
                                        <div class="progress-bar progress-bar-animated progress-bar-striped" style="width:65%;  background-color:#0D47A1;">
                                        </div>
                                    </div>

                                    <h3 class="progress-title">Html/css - 90%</h3>
                                    <div class="progress blue">
                                        <div class="progress-bar progress-bar-animated progress-bar-striped" style="width:90%;  background-color:#0da119;">
                                        </div>
                                    </div>


                                    <h3 class="progress-title">Data Analysis - 70%</h3>
                                    <div class="progress blue">
                                        <div class="progress-bar progress-bar-animated progress-bar-striped" style="width:70%;  background-color:#d9c111;">
                                        </div>
                                    </div>
                        
                        
                                    <h3 class="progress-title">Machine Learning - 65%</h3>
                                    <div class="progress yellow">
                                        <div class="progress-bar progress-bar-animated progress-bar-striped" style="width:65%; background-color:#ae08f0;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                      
                            
                        <!--#################### Services Starts Here ####################-->
                        
                        <div  class="row right-title">
                            <div class="col-sm-1 col-2 icob">
                                <i class="fas fa-solid fa-layer-group"></i>
                            </div>
                            <div id="technologies" class="col-sm-11 col-10 titb">
                                <h2 class="abh2">Services</h2>
                            </div>
                            <hr class="unline">
                         </div>
                        <div class="services">
                            <div class="service-row no-margin row">
                                <div class="col-md-6">
                                    <div class="seervic-col row">
                                        <div class="col-2 no-padding icons">
                                            <div class="iconder">
                                                <i class="fas" data-feather="globe"></i>
                                            </div>
                                        </div>
                                        <div class="col-10 sdrtg">
                                            <h4>Website Design</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="seervic-col row">
                                        <div class="col-2 no-padding icons">
                                            <div class="iconder">
                                                <i class="fas" data-feather="globe"></i>
                                            </div>
                                        </div>
                                        <div class="col-10 sdrtg">
                                            <h4>Website Design</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="seervic-col row">
                                        <div class="col-2 no-padding icons">
                                            <div class="iconder">
                                                <i class="fas" data-feather="code"></i>
                                            </div>
                                        </div>
                                        <div class="col-10 sdrtg">
                                            <h4>Web Development</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="seervic-col row">
                                        <div class="col-2 no-padding icons">
                                            <div class="iconder">
                                                <i class="fas" data-feather="smartphone"></i>
                                            </div>
                                        </div>
                                        <div class="col-10 sdrtg">
                                            <h4>Android Development</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="seervic-col row">
                                        <div class="col-2 no-padding icons">
                                            <div class="iconder">
                                                <i class="fas" data-feather="navigation"></i>
                                            </div>
                                        </div>
                                        <div class="col-10 sdrtg">
                                            <h4>IOS Add Development</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="col-md-6">
                                    <div class="seervic-col row">
                                        <div class="col-2 no-padding icons">
                                            <div class="iconder">
                                                <i class="fas" data-feather="bell"></i>
                                            </div>
                                        </div>
                                        <div id="projects" class="col-10 sdrtg">  <!-- Projects starts here because heading is hidden by nav bar-->
                                            <h4>Ionic Development</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                
                            
                            </div>
                        </div>
                        
                        
                        

                        
                        <!--#################### Projects Starts Here ####################-->
                        

                        <div  class="row right-title">
                            <div class="col-sm-1 col-2 icob">
                                <i class="fas fa-solid fa-briefcase"></i>
                            </div>
                            <div  class="col-sm-11 col-10 titb">
                                <h2 class="abh2">Projects</h2>
                            </div>
                            <hr class="unline">
                         </div>
                        <div  class="row projects">
            
                            <div class="gallery-filter d-none d-sm-block">
                                <button class="projbtn btn-primary filter-button" data-filter="all">All</button>
                                <button class="projbtn btn-primary filter-button" data-filter="hdpe">Finance</button>
                                <button class="projbtn btn-primary filter-button" data-filter="sprinkle">Digital Marketing</button>
                                <button class="projbtn btn-primary filter-button" data-filter="spray"> Money</button>
                                <button class="projbtn btn-primary filter-button" data-filter="irrigation">Business Alaysis</button>
                            </div>
                            <br/>
                            
                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-6 filter hdpe">
                                <img alt="" src="{% static 'assets/media/img/user.png' %}" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-6 filter sprinkle">
                                <img alt="" src="{% static 'assets/media/img/user.png' %}" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-6 filter hdpe">
                                <img alt="" src="{% static 'assets/media/img/user.png' %}" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-6 filter irrigation">
                                <img alt="" src="{% static 'assets/media/img/user.png' %}" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-6 filter spray">
                                <img alt="" src="{% static 'assets/media/img/user.png' %}" class="img-responsive">
                            </div>



                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-6 filter spray">
                                <img alt="" src="{% static 'assets/media/img/user.png' %}" class="img-responsive">
                            </div>

                            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-6 filter irrigation">
                                <img alt="" src="{% static 'assets/media/img/user.png' %}" class="img-responsive">
                            </div>
                            
                             <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-6 filter irrigation">
                                <img alt="" src="{% static 'assets/media/img/user.png' %}" class="img-responsive">
                            </div>
                        </div>
                        
                        
                        <!--#################### Hire Me Starts Here ####################-->
                        

                        <div id="hireme" class="row right-title">
                            <div class="col-sm-1 col-2 icob">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                            <div class="col-sm-11 col-10 titb">
                                <h2 class="abh2">Hire Me</h2>
                            </div>
                            <hr class="unline">
                         </div>
                       
                        <div class="hire-me-row no-margin row">
                            <div class="col-md-6">
                                <div class="row singe-col">
                                    <div class="col-2 hicons">
                                       <i class="fas" data-feather="map-pin"></i> 
                                    </div>
                                    <div class="col-10 pl-0 drtg">
                                        <b>Address</b>
                                        <p>Bihar Sharif, Nalanda, India</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="row singe-col">
                                    <div class="col-2 hicons">
                                       <i class="fas" data-feather="phone"></i> 
                                    </div>
                                    <div class="col-10 pl-0 drtg">
                                        <b>Phone</b>
                                        <p>+91 7764996332</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="row singe-col">
                                    <div class="col-2 hicons">
                                       <i class="fas" data-feather="mail"></i> 
                                    </div>
                                    <div class="col-10 pl-0 drtg">
                                        <b>Email </b>
                                        <p>saurabhkumar.conn@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="row singe-col">
                                    <div class="col-2 hicons">
                                       <i class="fas" data-feather="clock"></i> 
                                    </div>
                                    <div id="resume" class="col-10 pl-0 drtg">          <!-- Resume id is here  because heading is hidden by nav bar-->
                                        <b>Working Hours</b>
                                        <p>Daily 09:00AM TO 06:00PM</p>           
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--#################### My Resume Starts Here ####################-->
                        

                        <div  class="row right-title">
                            <div class="col-sm-1 col-2 icob">
                                <i class="fas fa-solid fa-file"></i>
                            </div>
                            <div  class="col-sm-11 col-10 titb">
                                <h2 class="abh2">My Resume</h2>
                            </div>
                            <hr class="unline">
                         </div>
                        
                        <div class="resume-cover">
                            <hr class="cbpline">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="cbp_tmtimeline">
                                        <li>
                                            <time class="cbp_tmtime"><span class="hidden">2020 - PRESENT</span></time>


                                            <div class="cbp_tmicon"><i class="fas fa-desktop"></i></div>

                                            <div class="cbp_tmlabel empty"> <span>
                                                <h4>Front-End Developer</h4>
                                                <p>Lorem ipsum dolor sit amet, codagahgaeart, dfa fa fapehoha fa f oeoa aogoeho afoafh ffa f aof aohf oafoao fda foiia of aof aof oafhheo foah hoa vohvoiehohf a;va;vah ovah ov av aohodhoav a oiah ovaofihaoifaoifhao v a aojvoahoiaova v aoiv ao voa voa ovhaohvoiahvava[a[v avoahodlaoiahvo da voiahdhoddap dlavoiahov ahv oa v ansectetur adipisicing elit. Quidem voluptatibus, maiores suscipit sequi veritatis saepe aspernatur.</p>
                                            </span> </div>
                                        </li>
                                        <li>
                                            <time class="cbp_tmtime"><span class="hidden">2020 - PRESENT</span></time>


                                            <div class="cbp_tmicon"><i class="fas fa-desktop"></i></div>

                                            <div class="cbp_tmlabel empty"> <span>
                                                <h4>UI developer</h4>
                                                <p>Lorem ipsum dolor sit amet, codagahgaeart, dfa fa fapehoha fa f oeoa aogoeho afoafh ffa f aof aohf oafoao fda foiia of aof aof oafhheo foah hoa vohvoiehohf a;va;vah ovah ov av aohodhoav a oiah ovaofihaoifaoifhao v a aojvoahoiaova v aoiv ao voa voa ovhaohvoiahvava[a[v avoahodlaoiahvo da voiahdhoddap dlavoiahov ahv oa v ansectetur adipisicing elit. Quidem voluptatibus, maiores suscipit sequi veritatis saepe aspernatur.</p>
                                            </span> </div>
                                        </li>
                                        <li>
                                            <time class="cbp_tmtime"><span class="hidden">2020 - PRESENT</span></time>


                                            <div class="cbp_tmicon"><i class="fas fa-desktop"></i></div>

                                            <div class="cbp_tmlabel empty"> <span>
                                                <h4>UI developer</h4>
                                                <p>Lorem ipsum dolor sit amet, codagahgaeart, dfa fa fapehoha fa f oeoa aogoeho afoafh ffa f aof aohf oafoao fda foiia of aof aof oafhheo foah hoa vohvoiehohf a;va;vah ovah ov av aohodhoav a oiah ovaofihaoifaoifhao v a aojvoahoiaova v aoiv ao voa voa ovhaohvoiahvava[a[v avoahodlaoiahvo da voiahdhoddap dlavoiahov ahv oa v ansectetur adipisicing elit. Quidem voluptatibus, maiores suscipit sequi veritatis saepe aspernatur.</p>
                                            </span> </div>
                                        </li>
                                        <li>
                                            <time class="cbp_tmtime"><span class="hidden">2020 - PRESENT</span></time>


                                            <div class="cbp_tmicon"><i class="fas fa-desktop"></i></div>

                                            <div class="cbp_tmlabel empty"> <span>
                                                <h4>UI developer</h4>
                                                <p>Lorem ipsum dolor sit amet, codagahgaeart, dfa fa fapehoha fa f oeoa aogoeho afoafh ffa f aof aohf oafoao fda foiia of aof aof oafhheo foah hoa vohvoiehohf a;va;vah ovah ov av aohodhoav a oiah ovaofihaoifaoifhao v a aojvoahoiaova v aoiv ao voa voa ovhaohvoiahvava[a[v avoahodlaoiahvo da voiahdhoddap dlavoiahov ahv oa v ansectetur adipisicing elit. Quidem voluptatibus, maiores suscipit sequi veritatis saepe aspernatur.</p>
                                            </span> </div>
                                        </li>



                                    </ul>  
                                </div>
                            </div>
                    </div>
                      
                    <!--#################### Educational Details Starts Here ####################-->
                       
                    <div id="eduction" class="row right-title">
                        <div class="col-sm-1 col-2 icob">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                        <div class="col-sm-11 col-10 titb">
                            <h2 class="abh2">Education Details</h2>
                        </div>
                        <hr class="unline">
                     </div>
                       
                       <div class="resume-cover">
                            <div class="row">
                                

                                <div class="col-md-12">
                                    <ul class="cbp_tmtimeline">
                                        <li>
                                            <time class="cbp_tmtime"><span class="hidden">2020 - PRESENT</span></time>


                                            <div class="cbp_tmicon"><i class="fas fa-desktop"></i></div>

                                            <div class="cbp_tmlabel empty"> <span>
                                                <h4>Front-End Developer</h4>
                                                <p>Lorem ipsum dolor sit amet, codagahgaeart, dfa fa fapehoha fa f oeoa aogoeho afoafh ffa f aof aohf oafoao fda foiia of aof aof oafhheo foah hoa vohvoiehohf a;va;vah ovah ov av aohodhoav a oiah ovaofihaoifaoifhao v a aojvoahoiaova v aoiv ao voa voa ovhaohvoiahvava[a[v avoahodlaoiahvo da voiahdhoddap dlavoiahov ahv oa v ansectetur adipisicing elit. Quidem voluptatibus, maiores suscipit sequi veritatis saepe aspernatur.</p>
                                            </span> </div>
                                        </li>
                                        <li>
                                            <time class="cbp_tmtime"><span class="hidden">2020 - PRESENT</span></time>


                                            <div class="cbp_tmicon"><i class="fas fa-desktop"></i></div>

                                            <div class="cbp_tmlabel empty"> <span>
                                                <h4>UI developer</h4>
                                                <p>Lorem ipsum dolor sit amet, codagahgaeart, dfa fa fapehoha fa f oeoa aogoeho afoafh ffa f aof aohf oafoao fda foiia of aof aof oafhheo foah hoa vohvoiehohf a;va;vah ovah ov av aohodhoav a oiah ovaofihaoifaoifhao v a aojvoahoiaova v aoiv ao voa voa ovhaohvoiahvava[a[v avoahodlaoiahvo da voiahdhoddap dlavoiahov ahv oa v ansectetur adipisicing elit. Quidem voluptatibus, maiores suscipit sequi veritatis saepe aspernatur.</p>
                                            </span> </div>
                                        </li>
                                        <li>
                                            <time class="cbp_tmtime"><span class="hidden">2020 - PRESENT</span></time>


                                            <div class="cbp_tmicon"><i class="fas fa-desktop"></i></div>

                                            <div class="cbp_tmlabel empty"> <span>
                                                <h4>UI developer</h4>
                                                <p>Lorem ipsum dolor sit amet, codagahgaeart, dfa fa fapehoha fa f oeoa aogoeho afoafh ffa f aof aohf oafoao fda foiia of aof aof oafhheo foah hoa vohvoiehohf a;va;vah ovah ov av aohodhoav a oiah ovaofihaoifaoifhao v a aojvoahoiaova v aoiv ao voa voa ovhaohvoiahvava[a[v avoahodlaoiahvo da voiahdhoddap dlavoiahov ahv oa v ansectetur adipisicing elit. Quidem voluptatibus, maiores suscipit sequi veritatis saepe aspernatur.</p>
                                            </span> </div>
                                        </li>
                                        <li>
                                            <time class="cbp_tmtime"><span class="hidden">2020 - PRESENT</span></time>


                                            <div class="cbp_tmicon"><i class="fas fa-desktop"></i></div>

                                            <div id="hobbies" class="cbp_tmlabel empty"> <span>  <!--  hobbies id is here because navbar hides the heading of hobbies-->
                                                <h4>UI developer</h4>
                                                <p>Lorem ipsum dolor sit amet, codagahgaeart, dfa fa fapehoha fa f oeoa aogoeho afoafh ffa f aof aohf oafoao fda foiia of aof aof oafhheo foah hoa vohvoiehohf a;va;vah ovah ov av aohodhoav a oiah ovaofihaoifaoifhao v a aojvoahoiaova v aoiv ao voa voa ovhaohvoiahvava[a[v avoahodlaoiahvo da voiahdhoddap dlavoiahov ahv oa v ansectetur adipisicing elit. Quidem voluptatibus, maiores suscipit sequi veritatis saepe aspernatur.</p>
                                            </span> </div>
                                        </li>



                                    </ul>   
                                </div>
                            </div>
                    </div>







                    <!--#################### Hobbies Starts Here ####################-->
                        
                        
                    <div  class="row right-title">
                        <div class="col-sm-1 col-2 icob">
                            <i class="fas fa-regular fa-chess-pawn"></i>
                        </div>
                        <div  class="col-sm-11 col-10 titb">
                            <h2 class="abh2">Hobbies</h2>
                        </div>
                        <hr class="unline">
                     </div>
                    <div class="hobbies">
                        <div class="row no-margin hoby-row">
                            <ul class="hoby row no-margin">
                                <li><i class="fas fa-pencil-alt"></i>  Writing</li>
                                <li><i class="fas fa-bicycle"></i>  Cycling</li>
                                <li><i class="fas fa-futbol"></i>  Football</li>
                                <li><i class="fas fa-film"></i> Movies</li>
                                <li><i class="fas fa-plane-departure"></i> Travel</li>
                                <li><i class="fas fa-gamepad"></i>  Games</li>
                            </ul>
                        </div>
                    </div>


       <!-- #################### Testimonial Starts Here ####################-->
                        
                        
                        <div id="owl-demo" class="row right-title">
                            <div class="col-sm-1 col-2 icob">
                                <i class="fas fa-regular fa-star"></i>
                            </div>
                            <div class="col-sm-11 col-10 titb">
                                <h2 class="abh2">Testimonial</h2>
                            </div>
                            <hr class="unline">
                         </div>
                        <div  class="test-row row owl-carousel">
                            <div class="testimonial">
                                <div class="test-key">
                                    <img src="{% static 'assets/media/img/user.png' %}" alt="">

                                    <h5>Raouth Samuel (<a href="">Manager</a>)</h5>
                                    <div class="testicons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p><i>vehicula pharetra est. Phasellus sagittis turpis diam. Maecenas faucibus mollis diam, at facilisis ex sagittis vel</i></p>
                                </div>
                            </div>
                            <div class="testimonial">
                                <div class="test-key">
                                    <img src="{% static 'assets/media/img/user.png' %}" alt="">

                                    <h5>Andrew Samuel (<a href="">Developer</a>)</h5>
                                    <div class="testicons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p>vehicula pharetra est. Phasellus sagittis turpis diam. Maecenas faucibus mollis diam, at facilisis ex sagittis vel</p>
                                </div>
                            </div>
                            <div class="testimonial">
                                <div class="test-key">
                                    <img src="{% static 'assets/media/img/user.png' %}" alt="">

                                    <h5>Arun Kumar (<a href="">Manager</a>)</h5>
                                    <div class="testicons">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p>vehicula pharetra est. Phasellus sagittis turpis diam. Maecenas faucibus mollis diam, at facilisis ex sagittis vel</p>
                                </div>
                            </div>
                        </div> 
                      
                      <!--#################### Contact Me Starts Here ####################-->
                       
                      <div  class="row right-title">
                        <div class="col-sm-1 col-2 icob">
                            <i class="fas fa-regular fa-star"></i>
                        </div>
                        <div class="col-sm-11 col-10 titb">
                            <h2 class="abh2">Contact Us</h2>
                        </div>
                        <hr class="unline">
                     </div> 
                        
                          <div id="contactus" class="contact-us">
                              <iframe class="mapframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184551.80857844595!2d-79.51814399835!3d43.71840381259961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sin!4v1586433312399!5m2!1sen!2sin" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
                          </div>  
                          
                        <div class="title-2 contact-titl row no-margin">
                            <h2 class="abh2">Get in Touch</h2>
                            <p>If you have any questions about my consulting services, please contact me</p>
                        </div> 
                        
                         <div class="contact-form">
                            <form action="mail.php" method="post">
                                <div class="row-form row">
                                     <div class="col-md-6">
                                         <label >Full Name</label>
                                         <input required placeholder="Enter Full Name" name="name" type="text" class="form-control">
                                     </div>
                                     <div class="col-md-6">
                                         <label >E-Mail Address</label>
                                         <input required placeholder="Enter Full Name" name="email" type="text" class="form-control">
                                     </div>
                                     <div class="col-md-12">
                                         <label >Subject</label>
                                         <input placeholder="Enter Full Name" name="subject" type="text" class="form-control">
                                     </div>
                                     <div class="col-md-12">
                                         <label >Message</label>
                                         <textarea placeholder="Enter Your Message" name="message"  cols="30" rows="5" class="form-control"></textarea>
                                     </div>
                                     <div class="col-md-12 mt-4 right">
                                        <input name="submit" value="1" type="hidden">
                                         <button type="submit" class="contbtn btn-primary">Submit</button>
                                     </div>
                                 </div>
                            </form>
                         </div> 
                    </div>
                </div>
            </div>
        </div>


        


        <script src="https://unpkg.com/feather-icons@4.10.0/dist/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        <script>
$(document).ready(function(){
   feather.replace();

   $('button').click(function(){
      $('.alert').html('<i data-feather="activity"></i>');
      feather.replace();
   });

});
</script>

       
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <script>
            var typed = new Typed(".auto-type", {
                strings: ["Programmer", "Developer", "Designer", "Freelancer"],
                typeSpeed: 150,
                backSpeed: 150,
                loop: true
            })
        </script>

        {% endblock content %}